# List of ignores for Joomla checkout
tmp/
modules/mod_banners/
modules/mod_breadcrumbs/
modules/mod_custom/
modules/mod_feed/
modules/mod_footer/
modules/mod_languages/
modules/mod_login/
modules/mod_menu/
modules/mod_random_image/
modules/mod_related_items/
modules/mod_search/
modules/mod_stats/
modules/mod_syndicate/
modules/mod_users_latest/
modules/mod_weblinks/
modules/mod_whosonline/
modules/mod_wrapper/
modules/mod_articles_archive/
modules/mod_articles_categories/
modules/mod_articles_category/
modules/mod_articles_latest/
modules/mod_articles_news/
modules/mod_articles_popular/

components/com_banners/
components/com_contact/
components/com_content/
components/com_mailto/
components/com_media/
components/com_newsfeeds/
components/com_search/
components/com_users/
components/com_weblinks/
components/com_wrapper/
components/index.html

templates/atomic/
templates/beez5/
templates/beez_20/
templates/index.html
templates/system/

/LICENSE.txt
/cache/
/configuration.php
/favicon.ico
/htaccess.txt
/images/
/includes/
/index.php
/joomla.xml
/language/
/logs/
/media/
/modules/index.html
/administrator/
/robots.txt
/libraries/index.html
/libraries/joomla/
/libraries/loader.php
/libraries/phpmailer/
/libraries/phputf8/
/libraries/simplepie/
/web.config.txt
/plugins/

.DS_Store
*~
