@media handheld {
    html, body {
        color: #000000;
        background: #FFFFFF;
        padding: 3px;
        margin: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
    img { 
        max-width: 250px;
    }
    .rightcol {
        display: none;
    }
}

